.poopoo {font-size:72px;
   Font-family:'Comicsans';
   }
.peepee {font-size:36px;
      Font-family:'comicsans';
        }
@font-face {
   font-family:'comicneue' 
   src: url(ComicNeue-Bold.ttf) format('ttf')
   src: url(ComicNeue-BoldItalic.ttf) format('ttf')
   src: url(ComicNeue-Italic.ttf) format('ttf')
   src: url(ComicNeue-Light.ttf) format('ttf')
   src: url(ComicNeue-LightItalic.ttf) format('ttf')
   src: url(ComicNeue-Regular.ttf) format('ttf')
}


