body{background-color: hsl( 222, 33%, 66%);
     background-size: cover;}

.poopoo {text-align: center;
   font-size: 72px;
   font-family: 'Comicneue';
}

.peepee {max-width: 500px;
         margin: auto;
         Background-color: hsl(350, 30%, 80%);
         border:12px solid hsl(200, 40, 80, 60%);
     text-align: center;
   font-size: 36px;
   font-family: 'comicneue';
}

.sharkgif {
     Margin-left:auto;
     Margin-right:auto;
     display: block;
}

@font-face {
   font-family: 'comicneue';
   src: url('ComicNeue-Bold.ttf') format('truetype'),
        url('ComicNeue-BoldItalic.ttf') format('truetype'),
        url('ComicNeue-Italic.ttf') format('truetype'),
        url('ComicNeue-Light.ttf') format('truetype'),
        url('ComicNeue-LightItalic.ttf') format('truetype'),
        url('ComicNeue-Regular.ttf') format('truetype');
}
